{% extends "layout.html" %}
{% block body %}
<div class="well col-sm-6 col-sm-offset-2">
  <h2 style="margin-top: 0">{{_('Login')}}</h2>
  <form method="POST" role="form">
    <input type="hidden" name="next" value="{{next_url}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
      <label for="username">{{_('Username')}}</label>
      <input type="text" class="form-control" id="username" name="username" autocapitalize="off" placeholder="{{_('Username')}}" value="{{ username }}">
    </div>
    <div class="form-group">
      <label for="password">{{_('Password')}}</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="{{_('Password')}}" value="{{ password }}">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember_me" checked> {{_('Remember Me')}}
      </label>
    </div>
    <button type="submit" name="submit" class="btn btn-default">{{_('Login')}}</button>
    {% if config.config_login_type == 0 and mail%}
    <button type="submit" name="forgot" value="forgot" class="btn btn-default">{{_('Forgot Password?')}}</button>
    {% endif %}
    {% if g.current_theme == 1 %}
      {% if g.allow_registration %}
      <a class="btn btn-default" id="register" href="{{url_for('web.register')}}"><span class="glyphicon glyphicon-user"></span> {{_('Register')}}</a>
      {% endif %}
      {% if g.allow_anonymous %}
      <a class="btn btn-default" href="{{url_for('web.index')}}">{{ _('Home') }}</a>
      {% endif %}
    {%endif%}
    {% if config.config_remote_login %}
    <a href="{{url_for('remotelogin.remote_login')}}" id="remote_login" class="pull-right">{{_('Log in with Magic Link')}}</a>
    {% endif %}
    {% if config.config_login_type == 2 %}
      {% if 1 in oauth_check %}
        <a href="{{url_for('oauth.github_login')}}" class="pull-right github">
          <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>
      {% endif %}
      {% if 2 in oauth_check %}
        <a href="{{url_for('oauth.generic_login')}}" class="pull-right generic">Log in with <b>{{ login_button }}</b></a>
      {% endif %}
    {% endif %}
  </form>
</div>
  {% if error %}
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-danger">{{error}}</div>
  </div>
  {% endif %}
{% endblock %}
